*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    min-height: 200vh;
    background-size: cover;
    background-image: url("20626812_1939026289673529_6354917073304967536_o.jpg");
    background-color: black;
    background-repeat: repeat;
    background-position: center;
    font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
    color: white;
    overflow-x: hidden;
}
.sec1{
    height: 100vh;
}
nav{
    background: black;
    transition: 0.2s ease-in-out;
    position: sticky;
    position: sticky;
  top: 0;
  overflow: hidden;
    z-index: 1001;
}
nav ul{
    padding:30px;
    width:auto;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    transition: 0.2s ease;
}
nav .naving{
    height: 50px;
    transition: 0.2s ease;
  font-weight: 400;
  font-style: normal;

}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration:none ;
    display: flex;
    align-items: center;
    transition: 0.2s ease;
    color: white;
}
nav  a:hover{
    transition: 0.2s ease;


}
.sideid{
    color: black;
}
nav .naving a:hover{
    color: #10dbca;
}
nav li:first-child{
   margin-right: auto;
   transition: 0.2s ease;
}
#home:hover{
    color: #10dbca;
}
.svg4{
    height: 100%;
}
.sidebar{
    position: fixed;
    top:0;
    right:0;
    height:100vh;
    width:80%;
    z-index:999;
    background-color:rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: -10px 3px 5px black ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.2s ease;

}
@media screen and (max-width:825px){
    .naving{
        display: none;
    }

}
.naving:hover{
    color: #08d6f1;
}
@media screen and (min-width:825px){
    nav .menupointer{
        display: none;
        pointer-events: none;
       cursor: default;

    }

}
@media screen and (max-width:825px){
    .sidebar{
        width:100%;

    }
    .sidebar li{
        font-size: 50px;
        height: 100px;
    }
    .svg1{
        height:50px;
        width:50px;
    }


}
@media screen and (min-width:460px){
    .title{

        font-size: 80px;
    }
}
@media screen and (max-width:460px){
    .title {
        position: absolute;
        margin-top: 200px;
        font-size: 25px;
    }
    .college a{
        position: absolute;
        margin-top:30px;
        font-size: 12px;
    }
    .sec2{
        position: relative;
        width:100%;
        left:0;
        right:100%;
        overflow-x: scroll;
    }
    .about p{
        font-size: 1px;

    }
    .sec3 img{
        width:30px;
        height: 30px;
    }
}
.sidebar li{
        font-size: 50px;
        height: 100px;
    transition: 0.2s ease;
    }
.svg1{
        height:50px;
        width:50px;
}
.title{
    position: relative;
    display:block;
    text-align: center;
    font-family: "Poppins";
    font-weight: 800;
    color: #ffffff;
    text-shadow: -1px 3px 6px rgb(8, 8, 61);

    transition:0.5s ease ;
}
#shu1 {

    padding-right: 20px;

}



.social-menu ul {

    position: absolute;

    top: 90%;

    left: 50%;

    transform: translate(-50%);

    padding: 0;

    margin: 0;

    display: flex;

}



.social-menu ul li {

    list-style: none;

    margin: 0 10px;

}



.social-menu ul li .fa {

    color: #000000;

    font-size: 25px;

    line-height: 50px;

    transition: .5s;

}



.social-menu ul li .fa:hover {

    color: #ffffff;

}



.social-menu ul li a {

    position: relative;

    display: block;

    width: 50px;

    height: 50px;

    border-radius: 50%;

    background-color: white;

    text-align: center;

    transition: 0.5s;

    transform: translate(0, 0px);

    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);

}



.social-menu ul li a:hover {

    transform: rotate(0deg) skew(0deg) translate(0, -10px);

}



.social-menu ul li:nth-child(1) a:hover {

    background-color: #3b5999;

}



.social-menu ul li:nth-child(2) a:hover {

    background-color: #55acee;

}



.social-menu ul li:nth-child(3) a:hover {

    background-color: #e4405f;

}



.social-menu ul li:nth-child(4) a:hover {

    background-color: #08083d;

}


.iframe-container {

    position: relative;

    width: 100%;

    padding-bottom: 56.25%;

    height: 0;

}



.iframe-container iframe {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

}
.college a{
    text-decoration: none;
    position: absolute;
    left: 42%;
    display: inline-block;
    color: #000000;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: 900;
    background: #ffffff;
    box-shadow: 0 0 10px #022038,0 0 40px #041930, 0 0 80px #021d30;
    overflow:hidden;
    transition:0.4s;
    font-family: Poppins;
}
.college a:hover{
    transform: translateY(-20px);
    color: #09fff5;
    background: #000000;
    box-shadow: 0 0 10px #022038,0 0 40px #041930, 0 0 80px #021d30;
    transition-delay: 0.3s;

}
.college a span{
    position: absolute;
    display: block;
}
.college a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg,transparent, #000000);
}

.college a:hover span:nth-child(1) {
    left:100%;
    transition:1s;
}
.college a span:nth-child(2) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg,transparent, #000000);
}
.college a:hover span:nth-child(2) {
    right:100%;
    transition-delay: 4s;
    transition:1s;
}

.college a span:nth-child(3) {

    top:-100%;
    right:0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #0b0b0b);
}
.college a:hover span:nth-child(3) {
    top: 100%;
    transition-delay: 1s;
    transition:1s;
    background: linear-gradient(180deg,transparent, #121212);
}

.college a span:nth-child(4) {

    bottom:-100%;
    left:0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #000000);
}
.college a:hover span:nth-child(4) {
    bottom: 100%;
    transition-delay: 1s;
    transition:1s;
    background: linear-gradient(0deg,transparent, #000000);
}
.sec2{
    background-color: black;
    width: 50%;
    left: 50%;
    height: 80vh;
    position: absolute;
    z-index:2;
    overflow: auto;
}
.about{
    padding: 10%;
    position: relative;
    font-size: 30px;

}
.about p{
    font-size: 20px;
    color: #09fff5;
}
.sec3{
    background-color: black;
    width: 50%;
    left: 0%;
    height: 80vh;
    position: absolute;
    z-index:1;
}
.sec3 img{
    position: relative;
    width: 80%;
    height: 80%;
    left: 10%;
    top:10%;
}
.sec4{
    position: absolute;
    background: #000000;
    top:200%;
    width: 100%;
    height: 30%;
}
.sec4 p{
    color: grey;
    position: relative;
    text-align: center;
    top:40%;
}
.sec4 p a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
}
.none{
    pointer-events: none;
    cursor: default;

}
.events{
    position: relative;
    width: 100%;
    padding-top: 50px;
    background-color: black;
    text-align: center;
    box-shadow: 2px 2px 2px #b09511;
}
.events h1{
    color: #09fff5;
    font-size: 40px;
}
.events p{
    padding: 10px;
    padding-bottom: 30px;
}
.container{
    width: 100%;
    position: relative;
    display: block;
    top:10%;
    align-items: center;
    padding:10px;
    margin-left:20px;
}
.container img{
    align-items: center;
    position: relative;
    padding-inline:22px;
    width: 30%;
    transition:0.4s;
}
.container img:hover{
    cursor: pointer;
    transform: scale(1.1);


}
@media screen and (max-width: 450px){
    .container {
        width: 100%;
        position: relative;
        display: block;
        top: 10%;
        align-items: center;
    }
    .container img{
        position: relative;
        width: 90%;
    }

}
.footer{
    position: absolute;
    background: #000000;
    top:350%;
    width: 100%;
    height: 30%;
}
.footer p{
    color: grey;
    position: relative;
    text-align: center;
    top:40%;
}
.footer p a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
}
@media screen and   (max-width: 460px){
    .footer{
        top:850%;
    }
}
@media only screen and (min-width: 460px) and (max-width: 910px){
    .title{
        font-size: 60px;

    }
    .college{
        position: absolute;
        left:38%;
    }
    .social-menu ul{
        left:51%;
    }
}
